// 변수, mixin 모음 파일
$mainColor: #588eea;
$subColor: #d4d8ff;
$black: #000;
$white: #fff;
$gray: #ccc;
$red: #ec4141;
$green: #4caf50;

$grid1: 100%;
$grid2: 50%;
$grid3: 33.33%;
$grid4: 25%;

$w-100: 100%;

@mixin flex($align, $justify, $direction, $wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin font($size, $weight, $lineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

@mixin bg-img($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin position-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin position-100() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}