.home-wrap {
    width: 100%;

    .main {
        width: 100%;
        padding: 100px 0;
    }

    .main-list-wrap {
        width: 300px;
        margin: 0 auto;

        .main-list {
            padding: 10px 0;
            width: 300px;
            border: 1px solid $gray;
            box-sizing: border-box;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 10px $gray;
            background-color: #fff;
            
            a {
                width: 100%;
                height: 100%;
            }

            .thumb {
                width: 100%;
            }

            .desc {
                @include flex(flex-start, flex-start, column, nowrap);
                width: 100%; 
                height: 150px;
                padding: 25px 16px 15px;
                border-top: 1px solid $gray; 
                box-sizing: border-box; 

                .prd- {
                    &name {
                        @include font(24px, 700, 1);
                    }
                    &start-bid {
                        @include font(15px, 400, 1);
                        margin: 10px 0 auto;
                    }
                    &seller {
                        @include font(15px, 400, 1); 
                    }
                }
            }
        }
    }
}