.icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.dimmed {
    @include position-100();
    z-index: 97;
    background-color: #000;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;

    &.on {
        opacity: 0.6;
        pointer-events: all;
    }
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    transition: 0.5s;
    position: relative;

    .contents {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
}

@media all and (max-width: 650px) {
    .wrap {
        width: 100%;
    }
}

.inner {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: $white;
    border-bottom: 1px solid $gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 96;
    box-shadow: 0 0 10px $gray;

    .inner {
        @include flex(center, space-between, row, nowrap);
    }

    .logo {
        @include font(24px, 900, 1);
        cursor: pointer;
    }
}

.snb-wrap {
    width: 90%;
    max-width: 500px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid $gray;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -500px;
    z-index: 98;
    transition: 0.5s;

    &.on {
        left:0;
    }

    .snb-top {
        @include flex(center, space-between, row, nowrap);
        width: 100%;
        height: 60px;
        border-bottom: 1px solid $gray;
        padding: 0 16px;
        box-sizing: border-box;

        div {
            a {
                @include font(16px, 600, 1);
                text-decoration: underline;
            }
        }
    }

    nav {
        width: 100%;

        .snb {
            
            li {
                width: 100%;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    border-top: 1px solid $gray;
    box-sizing: border-box;

    .inner {
        @include flex(center, center, column, nowrap);

        .footer-logo {
            @include font(24px, 700, 1);
            cursor: pointer;
        }
    
        .copyright {
            @include font(10px, 500, 1);
            color: $gray2;
            margin-top: 10px;
        }
    }
}

.con-wrap {
    min-height: calc(100vh - 165px);
    padding-top: 60px;
    background-color: #fff;
}

.error-404, .loading {
    @include flex(center, center, row, nowrap);
    @include font(30px, 700, 1);
}

.error-txt {
    @include font(14px, 500, 1);
    color: $red;
    margin-top: 10px;
}